@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@500&family=Roboto:wght@500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,800&display=swap');

/* font family  */
/* font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Work Sans', sans-serif;
 */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Work Sans';
    background: #FFF;
}

header,
main,
footer {
    max-width: 1440px;
}

.nav-section {
    background: rgba(255, 144, 14, 0.10);

    width: 100%;
}

.primary-btn {
    width: 160px;
    height: 54px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translate();
    transition: 1s;
}

.primary-btn:hover {

    transform: scale(1.1);
}

/* navbar style  */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    height: 70px;
}

.right-nav ul {
    display: flex;
}

.right-nav ul li {
    list-style: none;
    margin-right: 20px;

}

.right-nav ul li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 5px 10px;
    border-radius: 4px;
    transform: translate();
    transition: 1s;
}

.right-nav ul li a:hover {

    background-color: rgba(239, 174, 100, 0.1);
    color: rgb(46, 44, 44);

}

.left-nav h1 {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: 'Work Sans';
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.small-device {
    display: none;
}

/* banner section style  */
.banner-section {
    background: rgba(255, 144, 14, 0.10);
    width: 100%;
    padding-bottom: 20px;

}

.banner-header {
    max-width: 868px;
    margin: 0 auto;
    padding-top: 102px;
    padding-bottom: 127px;
}

.banner-heading {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: 'Work Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.banner-head-desc {
    color: #727272;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
    /* 162.5% */
}

.btn {
    margin-top: 32px;
    display: flex;
}

.header-btn {
    margin: 0 auto;
}

.banner-slide {
    display: flex;
}

.banner-slide img {
    width: 87%;
    margin: 0 auto;
}

/* top-features-section */
.top-features-section {
    margin: 75px auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 73px;
}

.left-side-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.left-side-top img {
    width: 262px;
    height: 262px;
}

.right-side-top h2 {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.right-side-top h2 .second-span {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-side-top h2 .third-span {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-side-top p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    /* 162.5% */
}

/* bottom-features-section */
.bottom-features-section {
    margin: 110px auto;
    max-width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 52px;
    position: relative;
}

.left-side-bottom-heading {
    border-left: 3px solid #FF900E;
    margin-bottom: 24px;
}

.left-side-bottom-heading h1 {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 18px;

}

.left-side-bottom p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.features-menu {
    width: 80%;
    height: 151px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px;
    margin: 20px 0px;
}

.features-menu h3 {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.features-menu p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.right-side-bottom img {
    width: 100%;
    height: 912px;
}

.exp-div {
    width: 312px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 540px;
    top: 850px;
}

.exp-div h2 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.exp-div small {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}